// --------------------------------------------------------------------------
// Icons
// --------------------------------------------------------------------------

[class^="icon-"], [class*=" icon-"] {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	fill: currentColor;
	fill-rule: evenodd;
}
