// --------------------------------------------------------------------------
// Lists
// --------------------------------------------------------------------------


.ui-ul {
    margin: 0 0 40px;
    padding: 0;
    list-style: none;
    & > li {
        padding: 0 0 0 40px;
        margin: 0 0 20px;
        position: relative;
        &:after {
            content: '';
            display: block;
            position: absolute;
            top: 14px;
            left: 0;
            width: 8px;
            height: 8px;
            border-radius: 50%;
        }
    }
}

.ui-ol {
    margin: 0 0 40px;
    padding: 0;
    list-style: none;
    counter-reset: point;
    & > li {
        position: relative;
        padding: 0 0 0 40px;
        margin: 0 0 20px;
        &:after {
            content: counter(point) '.';
            counter-increment: point 1;
            position: absolute;
            top: 0;
            left: 0;
            font-weight: 500;
        }
    }
}

.ui-dl {
    margin: 0 0 40px;

    dt {
        display: block;
        font-weight: 500;
        margin: 0 0 5px;
        line-height: inherit;
    }
    dd {
        display: block;
        padding: 0;
        margin: 0 0 20px;
        line-height: inherit;
        &:last-child {
            margin: 0;
        }
    }
    
}