// --------------------------------------------------------------------------
// Beauty
// --------------------------------------------------------------------------

.beauty {
    margin: 0 0 115px;
    @include breakpoint(lg) {
        margin: 0 0 132px;
    }
}

.beauty__title {
    display: block;
    margin: 0 0 34px;
    font: 400 30px/1.1 $fontSecond;
    letter-spacing: 0.02em;
    @include breakpoint(lg) {
        font-size: 60px;
        margin: 0 0 64px;
    }
}

.beauty__text {
    display: block;
    margin: 0 0 32px 0;
    padding: 0 0 0 64px;
    font-size: 18px;
    line-height: 1.4;
    font-weight: 400;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    @include breakpoint(lg) {
        max-width: 560px;
        margin: 0 auto 44px;
        padding: 0 0 0 50px;
        font-size: 20px;
        position: relative;
    }
}

.beauty__grid {

}

.beauty__image {
    position: relative;
    display: block;
    margin: 0;
    img {
        display: block;
        width: 100%;
        height: inherit;
        object-fit: cover;
        object-position: center top;
    }
    &--01 {
        margin: 0 -16px 36px;
        img {
            aspect-ratio: 1/0.8;
        }
        &:after {
            content: '';
            display: block;
            position: absolute;
            top: 16px;
            left: 16px;
            right: 16px;
            bottom: -16px;
            border: 1px solid #444444;
        }
    }
    &--02 {
        margin: 0 0 20px;
        img {
            aspect-ratio: 1/0.64;
        }
    }
    @include breakpoint(lg) {
        &--01 {
            margin: 0 0 40px 0;
            &:after {
                top: 20px;
                left: -20px;
                right: 20px;
                bottom: -20px;
            }
            img {
                aspect-ratio: 1/0.58;
            }
        }
        &--02 {
            margin: 0 0 40px;
            img {
                aspect-ratio: 1/0.7692;
            }
        }
    }
}

.beauty__blockquote {
    display: block;
    margin: 0 -16px 20px 0;
    padding: 20px 16px 20px 64px;
    background: #DAD9D3;

    font-size: 18px;
    line-height: 1.4;
    font-weight: 400;
    letter-spacing: 0.1em;
    font-style: normal;
    text-transform: uppercase;
    &--01 {

    }
    &--02 {
        font-size: 14px;
        line-height: 1.5;
        font-weight: 400;
        letter-spacing: 0.06em;
        text-transform: none;
        margin: 0 -16px 0 0;
    }
    @include breakpoint(lg) {
        &--01 {
            margin: 40px -100px 88px -26px;
            padding: 36px 100px 30px 26px;
        }
        &--02 {
            max-width: 560px;
            margin: 0 auto;
            padding: 20px 26px;
            position: relative;
            left: 26px;
            font-size: 16px;
            line-height: 1.5;
            font-weight: 400;
            letter-spacing: 0.06em;
            min-height: 250px;
        }
    }
}