// --------------------------------------------------------------------------
// Intro
// --------------------------------------------------------------------------



.intro {
    background: #444444;
    color: #F0F1EC;
    padding: 0 0 72px;
    margin: 0 0 74px;
    position: relative;
    z-index: 100;
    min-height: 100vh;

    display: flex;
    align-items: flex-end;
    @include breakpoint(lg) {
        padding: 0 0 100px;
        margin: 0 0 200px;
    }

    @media (hover: none) {
        min-height: calc(100vh - 60px);
    }

}

.intro__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    display: block;
    z-index: -1;
    img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    video {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}

.intro__desc {
    
}


.intro__title {
    display: block;
    margin: 0 0 32px;
    font: 400 30px/1.1 $fontSecond;
    letter-spacing: 0.02em;
    text-align: center;
    @include breakpoint(lg) {
        margin: 0 0 35px;
        font-size: 80px;
        line-height: 1.1;
        font-weight: 400;
    }
}

.intro__text {
    display: block;
    margin: 0 0 103px;
    font-size: 10px;
    line-height: 1.6;
    font-weight: 400;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    @include breakpoint(lg) {
        font-size: 20px;
        line-height: 1.4;
        font-weight: 400;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        max-width: 395px;
        float: right;
    }
}

.intro__play {
    @include breakpoint(lg) {
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -82px 0 0 -42px;
    }
}

.intro__play-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 84px;
    height: 84px;
    margin: 0 auto 70px;
    text-decoration: none;
    color: #F0F1EC;
    transition: color 0.25s, transform 0.25s;
    
    svg {
        display: block;
        width: 100%;
        height: 100%;
    }
    &:hover {
        text-decoration: none;
        color: #FFB7C7;
        transform: scale(1.2);
    }

    
}



.intro__booking {
    margin: 0;
    clear: both;
}