
// --------------------------------------------------------------------------
// Move
// --------------------------------------------------------------------------

.move {
    margin: 0 0 80px;
    @include breakpoint(lg) {
        margin: 0 0 180px;
    }
}

.move__menu {
    margin: 0;
    padding: 0;
    list-style: none;
    & > li {
        margin: 0 0 40px;
        &:last-child {
            margin: 0;
        }
    }
    @include breakpoint(lg) {
        display: flex;
        & > li {
            flex: 0 0 50%;
            max-width: 50%;
            margin: 0;
        }
    }
}

.move__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 200px;
    height: 100%;
    background: #DAD9D3;
    border-radius: 300px;
    text-decoration: none;
    color: #444;
    position: relative;
    padding: 20px;
    max-width: 460px;
    margin: 0 auto;

    text-align: center;

    transition: background 0.25s, color 0.25s;

    &:before {
        content: '';
        display: block;
        position: absolute;
        top: 10px;
        left: 10px;
        right: 10px;
        bottom: 10px;
        border: 1px solid currentColor;
        border-radius: inherit;
    }

    &:hover {
        background: #879A77;
        color: #F0F1EC;
    }

    @include breakpoint(lg) {
        min-height: 300px;
        border-radius: 300px;
    }
}

.move__item-title {
    display: flex;
    align-items: center;
    margin: 0 0 10px 16px;
    font: 400 30px/1.1 $fontSecond;
    svg {
        display: block;
        flex: 0 0 auto;
        margin: 0 0 0 16px;
    }
    @include breakpoint(lg) {
        margin: 0 0 20px 20px;
        font-size: 60px;
        svg {
            margin: 0 0 0 20px;
        }
    }
}

.move__item-text {
    display: block;
    margin: 0 auto;
    font-size: 12px;
    line-height: 1.5;
    font-weight: 400;
    letter-spacing: 0.1em;
    max-width: 160px;
    @include breakpoint(lg) {
        font-size: 16px;
        line-height: 1.5;
        font-weight: 400;
        letter-spacing: 0.06em;
        max-width: 280px;
    }   
}